.signUpMain{
    background-image: url('../IMAGES/login.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.containerSignUp{
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 38%;
    margin-right: 600px;
}
.signUpMessage{
    margin-top: 120px;
    color:black;
    text-align: center;
    transition-duration: 1s;

}
input[type=email]:focus, input[type="password"]:focus {
width: 250px;
}
.containerSignUp form label{
    margin-left: 35%;
    font-style: normal;
    font-size: x-large;
}
.containerSignUp form input{
     width: 180px;
    transition: width .35s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px;
    outline: none; 
    padding: 3%;
} 
.containerSignUp h4{
    margin-left: 40%;
}
.containerSignUp button{
    margin-left: 35%;
    background-color: grey; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    transition-duration: 0.4s;
    border-radius: 25px;
}
.containerSignUp button:hover{
    background-color: #d0cfcd;
}
