body{
    background-color: #d0cfcd;
}
.welcome{
    margin-left: 43%;
    margin-top: 10%;
}
.containerFlex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}
.whatWeDoList{
    margin-left: 46%;
    margin-top: 5%;
}
.whatWeDoList li{
    margin-left: -35%;
    font-size: 20px;
}
.sideMenu{
    height: 100%;
    float:left; /* width sa fie cat contentul div-ului*/
    position: fixed; 
    top: 0;
    left: 0; 
    background-color:black;
}
.spanForMenu{
    font-size:30px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.shownMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition-duration: 1s;
    padding-top: 60px;
}
.shownMenu a{
    text-decoration: none;
}
.shownMenu div a{
    margin-top: 20%;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}
#logOut{
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: 20%;
}
#closeMenu{
    font-size:30px;
    color: white;
    margin-left: 50px;
    margin-top: 100px;
    cursor: pointer;
}
