.containerFlex{
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    min-height: 100%;
    position: relative;
}
.fileRegisterBody{
    background-color: #d0cfcd;
    height: 100%;
}
.spanForMenu{
    font-size:30px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.sideMenu{
    height: 100%;
    float:left;
    position: fixed; 
    top: 0;
    left: 0; 
    background-color:black;
}
.shownMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition-duration: 1s;
    padding-top: 60px;
}
.shownMenu a{
    text-decoration: none;
}
.shownMenu div a{
    margin-top: 20%;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}
#closeMenu{
    font-size:30px;
    color: white;
    margin-left: 50px;
    margin-top: 100px;
    cursor: pointer;
}
#logOut{
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: 20%;
}

.folder{
    flex-direction: row;
    padding: 50px 50px 0px;
    text-align: center;
    width: 15%;
}
.folder .folderIcon{
    width: 100px;
    height: 100px;
}
.folder h4{
    margin-left: 5%;
    text-align: center;
}
.folderContainer{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

#bottom_buttons{
    margin-left: 1%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0;
    position: fixed;
    background-color: black;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
}

.bottom_button{
    margin-left: 100px;
    flex-direction: row;
    display: inline;
}

#upload_button{
    width: 150px;
    height: auto;
    margin-left: 300px;
}

#delete_button{
    width: 150px;
    height: auto;
}

#download_button{
    width: 150px;
    height: auto;
}

#move_button{
    width: 150px;
    height: auto;
}

#rename_button{
    width: 150px;
    height: auto;
}

#create_folder_button{
    width: 150px;
    height: auto;
    margin-right: 20%;
}

#go_back_button{
    width: 150px;
    height: auto;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 10%;
}
.goBackButton{
    width: 5%;
    
}
.goBackButton img{
    margin-left: 100%;
    width: 30px;
    height: 5%;
}
@media (max-width: 800px) and (min-width: 375px)
{
    .containerFlex{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .folderContainer{
        flex-direction: column;
        flex-wrap: wrap;
        display: table;
        justify-content: space-between;
    }
    .folder h4{
        width: 100%;
        max-width: 100px;
        min-width: 100px;
    }
    #upload_button{
        margin-left: 1300px;
    }
}
@media (max-width: 375px) and (min-width:100px){
    .containerFlex{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .folderContainer{
        flex-direction: column;
        flex-wrap: wrap;
        display: table;
        justify-content: space-between;
    }
    .folder h4{
        width: 100%;
        max-width: 100px;
        min-width: 100px;
    }
    #upload_button{
        margin-left: 1300px;
        
    }
    
}
@media (max-width:1200px) and (min-width:801px)
{
    #upload_button{
        margin-left: 700px;
        
    }
}