.spanForMenu{
    font-size:30px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.sideMenu{
    height: 100%;
    float:left;
    position: fixed; 
    top: 0;
    left: 0; 
    background-color:black;
}
section{
    display: flex;
}
.indexBody{
    background-color: #d0cfcd;
}
.containerFlex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.welcome{
    margin-top: 100px;
    margin-bottom: 5%;
    color:black;
    text-align: center;
}
.shownMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition-duration: 1s;
    padding-top: 60px;
}
.shownMenu a{
    text-decoration: none;
}
#closeMenu{
    font-size:30px;
    color: white;
    margin-left: 50px;
    margin-top: 100px;
    cursor: pointer;
}
section{
    margin-top: 5%;
}
.shownMenu div a{
    margin-top: 20%;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.imgWrapper{
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}
#googleDrive{
    width: 210px;
    height: 210px;
    margin-left: 12%;
}
#dropBox{
    margin-left: 15%;
}
#dropBox img{
    margin-top:7%;
    width: 230px;
    height: 230px;
    margin-left: 12%;
}

#oneDrive{
    margin-left: 12%;
}
#oneDrive img{
    width: 250px;
    height: 250px;
    margin-left: 12%;
}
#allCloudMethods{
    margin-right: 35%;
    margin-left: 40%;
    margin-top: 8%;
    background-color: grey; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    outline: none;
}
.description1{
    margin-left: 35%;
    display: inline;
}
.description2{
    margin-left:40%;
    display: inline;
}
.description3{
    margin-left:40%;
    display: inline;
}
#logOut{
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}
 @media (max-width: 800px) and (min-width: 375px) {
    .imgWrapper{
        flex-direction: column;
        flex-wrap: wrap;
        display: table;
        justify-content: space-between;
    }
    #dropBox img {
        margin-left: 0%;
    }
    #oneDrive img{
        margin-left: 0%;
    }
    .description3 {
        margin-left: 35%;
    }
    .description2 {
        margin-left: 35%;
    }
    #googleDrive{
        margin-left: 25%;
        margin-bottom: 30%;
    }
    #dropBox{
        width: 230px;
        height: 230px;
        margin-left: 30%;
        margin-bottom: 30%;
    }
    #oneDrive{
        width: 250px;
        height: 250px;
        margin-left: 30%;
        margin-bottom: 10%;
        justify-content: center;
    }
    #allCloudMethods{
        margin-right: 35%;
        margin-left: 35%;
        background-color: grey; 
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        width: 100%;
        min-width: 50px; 
        max-width: 200px;
        border-radius: 25px;
        outline: none;
    }
    .welcome{
        justify-content: center;
    }
} 
@media (max-width: 375px) and (min-width:100px) {
    .imgWrapper{
        flex-direction: column;
        flex-wrap: wrap;
        display: table;
        justify-content: space-between;
    }
    #googleDrive{
        margin-left: 30%;
        margin-bottom: 30%;
    }
    #dropBox{
        width: 230px;
        height: 230px;
        margin-left: 30%;
        margin-bottom: 30%;
    }
    #oneDrive{
        width: 250px;
        height: 250px;
        margin-left: 30%;
        margin-bottom: 10%;
        justify-content: center;
    }
    .welcome{
        justify-content: center;
        margin-left: 45%;
    }
    #allCloudMethods{
        margin-right: 35%;
        margin-left: 45%; 
        margin-top: 8%;
        background-color: grey; 
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        width: 100%;
        min-width: 50px; 
        max-width: 200px;
        border-radius: 25px;
        outline: none;
    }
    
}
@media (max-width: 1024px) and (min-width: 801px)
{
    .welcome{
        justify-content: center;
        margin-left: 10%;
    }
    #allCloudMethods{
        margin-right: 30%;
        margin-left: 45%;
        margin-top: 8%;
        background-color: grey; 
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        border-radius: 25px;
        outline: none;
    }

}
    