<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/CSS/about.css">
    <title>STOL</title>
</head>
<body>
    <div class="contaierFlex">
        <div id="shownMenu" class="shownMenu" hidden>
            <span id="closeMenu" onclick="closeMenu()">&rArr;</span><br>
            <div>
                <a href="home">
                    <div>Home</div>
                </a>
            </div>
            <div >
                <a href="about">
                    <div>About</div>
                </a>
            </div>
            <div>
                <a href="Dropbox_files"><div>Dropbox</div></a>
            </div>
            <div>
                <a href="OneDrive_files"><div>OneDrive</div></a>
            </div>
            <div>
                <a href="GoogleDrive_files"><div>GoogleDrive</div></a>
            </div>
            <div>
                <a href="login"><div id="logOut">LogOut</div></a>
            </div>
        </div>

        <div class="sideMenu">
            <span class="spanForMenu" onclick="openMenu()">&#9776;</span>
        </div>
        <div class="containerDescriptions">
            <img src="../views/IMAGES/cloudAbout.png" alt="cloud-photo">
            <h1 class="welcome">About our App</h1> 
            <h3 class="subtitle">We bring a new way for you to upload your files on different cloud storage tools</h3>
            <ul class="whatWeDoList">
                <li>Our app provides 3 different cloud drives (GoogleDrive, DropBox and OneDrive) for managing all your files</li>
            </ul>
            <div class="containerHomePage">
                <p class="pages">Login: </p>
                <div class="aboutPage">
                    <p>Login is a simple page that allows you to go to our Home Page. If you are not logged you can't access any of our funcionalities</p>
                    <p>After login, a cookie will be provided to you. as long as the cookie is valid, you will be logged to our page.</p>
                </div>
            </div>
            <div class="containerHomePage">
                <p class="pages">Sign Up:</p>
                <div class="aboutPage">
                    <p>Sign Up allows you to have a basic account on our API. After you signed up, you have to login with that account to have access to our services. </p>
                </div>
            </div>
            <div class="containerHomePage">
                <p class="pages">Home Page:</p>
                <div class="aboutPage">
                    <p>We provide 3 drivers. To access all your files and have rights to modify content, you
                        should first login.
                    </p>
                    <p>Using Oauth Services you will now have access to all your files on each drive and you could also modify them.</p>
                    <p>To Login, you can siply just click on one of the icons in home page and you will be redirected to their login page.</p>
                    <p>After this step, you will be redirected on our home page again</p>
                </div>
            </div>
            <div class="containerHomePage">
                <p class="pages">About Page:</p>
                <div class="aboutPage">
                    <p>This page provides a written tutorial about how to use our API</p>
                </div>
            </div>
            <div class="containerHomePage">
                <p class="pages">File Storage Pages:</p>
                <h5>We have 3 pages:  DropBox | OneDrive | GoogleDrive </h5>
                <div class="aboutPage">
                    <p>This Pages are ment to help you see all your files.</p>
                    <p>Down on this page exists a scrollable bar that offers many operations on files.</p>
                    <p>To use one of those that implies a file already existing, just simply click once on the file and then on the  button with the operation you want to do.</p>
                    <p>To navigate between folders you can just double click on one icon with folder.</p>
                </div>
            </div>
            <div class="containerHomePage">
                <p class="pages">Log out:</p>
                <div class="aboutPage">
                    <p>To go out of our API just click LogOut and you will redirected on login page</p>
                </div>
            </div>
        </div>

    </div>
    <script src="../views/JS/index.js"></script>
</body>
</html>