<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/CSS/index.css">
    <title>STOL</title>
</head>
<body class="indexBody">
    <div class="containerFlex">
        <div id="shownMenu" class="shownMenu" hidden>
            <span id="closeMenu" onclick="closeMenu()">&rArr;</span><br>
            <div>
                <a href="home">
                    <div>Home</div>
                </a>
            </div>
            <div >
                <a href="about">
                    <div>About</div>
                </a>
            </div>
            <div>
                <a href="Dropbox_files"><div>Dropbox</div></a>
            </div>
            <div>
                <a href="OneDrive_files"><div>OneDrive</div></a>
            </div>
            <div>
                <a href="GoogleDrive_files"><div>GoogleDrive</div></a>
            </div>
            <div>
                <a href="login"  onclick="logOutUser()"><div id="logOut">LogOut</div></a>
            </div>
        </div>
        
        <div class="sideMenu">
            <span class="spanForMenu" onclick="openMenu()">&#9776;</span>
        </div>

        <h1 class="welcome">Upload Your Files</h1>
        <div class="imgWrapper">
            <div id="googleDrive">
                <a href="#" >
                    <img id="google-drive" src="../views/IMAGES/google-drive.png" alt="google-drive" onclick="uploadGoogleDrive()" >
                    
                </a>
                <h3 class="description1">Google Drive</h3>
            </div>
            <div id="dropBox">
                <a href="#">
                    <img  id="drop-box" src="../views/IMAGES/dropbox.png" alt="dropBox" onclick="uploadDropBox()">
                </a>
                <h3 class="description2">Drop Box</h3>
            </div>
            <div id="oneDrive">
                <a href="#">
                    <img id="one-drive" src="../views/IMAGES/OneDrive-icon.png" alt="oneDrive" onclick="uploadOneDrive()" ><br>
                    <!--<input type="file" id="fileOneDrive" multiple size="50" style="display: none;"/>-->  <!-- Robert: linia asta si cea de jos cred ca ar trebui adaugate din javascript in momentul in care avem nevoie -->
                    <!--<input type="file" id="directoryOneDrive" multiple size="50" style="display: none;" webkitdirectory directory/>--> <!--Se poate folosind insertAdjacentHTML() in js-->
                </a>
                <h3 class="description3">One Drive</h3>
            </div>
        </div>
        <button id="allCloudMethods" onclick="uploadAllDrivers()">Upload on all cloud options</button>  
    </div>
    <script src="../views/JS/index.js"></script>
 </body>   
</html>
<!---->